button {
display:inline;
position:relative;
right: -850px;
color:blue;
border-radius: 20px 15px;
}
.button:hover {
background-color: black;
/* display: none;   */
}
#submit {
    display:block;
    position: relative;
    left: 150px;
    display: none;
}
#next {
    display:flex;
    justify-content: left;
    position: left;
}